.formation-container {
	justify-content: center;
	align-items: flex-end;

	width: 100%;
	height: 100%;
}

.formation-background {
	align-items: center;

	height: 80%;
	border-width: 0px;

	background-color: rgba(50, 50, 50, 0.7);
}

.formation-boat-item-container { }

.formation-boat-item {
	background-color: rgba(150, 150, 150, 0.8);
}

.formation-boat-item-header {
	margin: 0px;
}

.formation-boat-item-description {
	margin: 0px;
}