.command-container {
	justify-content: flex-end;
	align-items: flex-start;

	width: 100%;
	height: 100%;
}

.command-button-container { }

.command-top-button-container { }

.command-top-button { }

.command-top-button-text { 
	margin: 0px;
}

.command-top-button:disabled {
	opacity: 1;
	scale: 1.10;

	transition-property: scale;
    transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}

.command-change-view-button {
	border-width: 5px;
	border-radius: 10px;
}